* {
  box-sizing: border-box;
  color: #333; /* Couleur du texte */
}

html {
  height: 100%;
}

aside a {
  text-decoration: none;
}

aside img {
  border: 0;
  width: 88px;
  height: 31px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Police de caractère */
  background: #f7f7f7; /* Couleur de fond */
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 3rem; /* Taille de police */
}

h2 {
  font-size: 1.5rem; /* Taille de police */
}

.bulle {
  margin-top: 50px;
  text-align: center;
  border: solid;
  margin-left: 200px;
  margin-right: 200px;
  background: #e5e5e5; /* Couleur de fond */
  border-color: #ccc; /* Couleur de la bordure */
  border-radius: 10px;
  font-size: 1.3rem; /* Taille de police */
  padding-bottom: 30px;
}

section.sujet {
  margin-bottom: 200px;
}

select,
input,
button {
  color: #333; /* Couleur du texte */
}

.IUT li {
  display: inline;
  padding: 10px;
}

strong {
  font-weight: bold; /* Gras */
  text-decoration: underline;
  font-size: 1.6rem; /* Taille de police */
}

.justify {
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}

table {
  border: solid #ccc; /* Couleur de la bordure */
  text-align: center;
}

th {
  font-family: monospace;
  border: thin solid #999; /* Couleur de la bordure */
  width: 50%;
  padding: 15px;
  background-color: #f2f2f2; /* Couleur de fond */
  font-size: 1.4rem; /* Taille de police */
}

td {
  border: thin solid #999; /* Couleur de la bordure */
  padding: 15px;
  text-align: center;
  background-color: #fafafa; /* Couleur de fond */
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
}

footer ul li {
  float: left;
  width: 33%;
  list-style-type: none;
}

footer ul li:first-child {
  text-align: left;
}

footer ul li:last-child {
  text-align: right;
}

footer ul li a {
  text-decoration: none;
}

@media (max-width: 1280px) {
  .bulle {
    margin-top: 50px;
    text-align: center;
    border: solid;
    margin-left: 80px;
    margin-right: 80px;
    background: #e5e5e5; /* Couleur de fond */
    border-color: #ccc; /* Couleur de la bordure */
    border-radius: 10px;
    font-size: 1rem; /* Taille de police */
  }

  strong {
    font-weight: bold; /* Gras */
    text-decoration: underline;
    font-size: 1.2rem; /* Taille de police */
  }

  h1 {
    font-size: 2.8rem; /* Taille de police */
    text-decoration: underline;
  }

  h2 {
    font-size: 1.8rem; /* Taille de police */
  }

  #last {
    visibility: hidden;
  }

  .IUT {
    font-size: 80%;
  }

  .justify {
    text-align: justify;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  img {
    width: 250px;
  }

  .nav-title {
    visibility: hidden;
  }
}
